body{

font-family:Arial;

background:#f5f7fb;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.container{

background:white;

padding:40px;

border-radius:12px;

box-shadow:0 0 15px rgba(0,0,0,.15);

text-align:center;

width:400px;

}

button{

width:100%;

padding:18px;

font-size:18px;

border:none;

border-radius:10px;

background:#2F80ED;

color:white;

cursor:pointer;

}

button:hover{

background:#1c5fd1;

}
